<header>
  <div class="container-logo">
      <div class="img-logo">
        <img src="assets/logo-townsq.svg" class="img-logo">
      </div>
      <div class="logo-text">
          <h1>Academy</h1>
      </div>
  </div>
  <div class="menu-header">
      <ul>
          <li><a routerLink="/communities">Communities</a></li>
          <li><a routerLink="/units" routerLinkActive="">Units</a></li>
          <li><a routerLink="/residents" routerLinkActive="">Residents</a></li>
      </ul>
  </div>
</header>