<div class="container-imgs">
  <div class="item">
    <a routerLink="/residents" routerLinkActive=""><img src="https://static.vecteezy.com/ti/vetor-gratis/p1/643326-icone-de-pessoas-do-grupo-gr%C3%A1tis-vetor.jpg" class="item-img" alt="residents"
      /></a>
  </div>
  <div class="item"> 
    <a routerLink="/units"><img title="units" id="img-unit"src="https://cdn-icons-png.flaticon.com/512/88/88943.png" class="item-img"/></a>
  </div>
  <div class="item">
    <a routerLink="/communities"> <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/2718689-maos-trabalho-em-equipe-uniao-linha-estilo-icone-gr%C3%A1tis-vetor.jpg" alt="communities" class="item-img" /></a>
  </div>
</div>
